@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    background-color: #1A0B2E;
    margin: 0;
}
/* shared styles */
.display-flex{
    display: flex;
    
}


.text-primary{
    color: white;
}
.text-grey{
    color: gainsboro;
}
.gradient-text-color{ 
  background: linear-gradient(190deg,#9100F8,#FB09B4,#F7E93F
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
    background-color: linear-gradient(
rgba(247, 233, 63, 1)
rgba(251, 9, 180, 1)
rgba(145, 0, 248, 1));;
}


.btn-gradient {
  background: linear-gradient(190deg,#9100F8,#FB09B4,#F7E93F
);
    background-color: linear-gradient(
rgba(247, 233, 63, 1)
rgba(251, 9, 180, 1)
rgba(145, 0, 248, 1));;
    color: white;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 19px;
    border-radius: 50px;
    border: none;
    align-items: center;

}
.btn-gradient i {
  background: none;   /* remove icon background */
  color: #fff;        /* icon color */

}
.btn-gradient:hover {
  opacity: 0.9;
}

.btn-green{
    color: green;
    border: 2px solid green;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}
.btn-green img ,.btn-gradient img {
    height: 12px;
    width: 15px;
    
}
.bg-remove{
    background: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px ;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.hero-bg {
  position: relative; /* parent reference */
  width: 100%;
}

.bg {
  width: 100%;
  /* display: block; */
}


.bg-circle {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 100px;
  right: 625px;
  left:  570px;
  background: none;
}
.bg-logo{
      position: absolute;
  height: 200px;
  width: 150px;
  top: 150px;
  padding: 30;
  right: 675px;
  left:  645px;
  background: none;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    gap: 8;
}
.banner-details{
    margin-bottom: 24px;
}
/* .banner-image{
    width: 100%;
} */
