@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    background-color: #1A0B2E;
    margin: 0;
}
/* shared styles */
.display-flex{
    display: flex;
    
}


.text-primary{
    color: white;
}
.white-text{
    font-size: 3rem;
    font-weight: 700;

}
.text-grey{
    color: #FFFFFF;
}
.gradient-text-color{ 
  background: linear-gradient(190deg,#9100F8,#FB09B4,#F7E93F
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
    background-color: linear-gradient(
rgba(247, 233, 63, 1)
rgba(251, 9, 180, 1)
rgba(145, 0, 248, 1));;
}


.btn-gradient {
  background: linear-gradient(190deg,#9100F8,#FB09B4,#F7E93F
);
    background-color: linear-gradient(
rgba(247, 233, 63, 1)
rgba(251, 9, 180, 1)
rgba(145, 0, 248, 1));;
    color: white;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 19px;
    border-radius: 50px;
    border: none;
    align-items: center;

}
.btn-gradient i {
  background: none;   /* remove icon background */
  color: #fff;        /* icon color */

}
.btn-gradient:hover {
  opacity: 0.9;
}

.btn-green{
    color:  #00FF88;
    border: 2px solid #00FF88;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}
.btn-green img ,.btn-gradient img {
    height: 12px;
    width: 15px;
    
}
.bg-remove{
    background: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px ;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.hero-bg {
  position: relative; /* parent reference */
  width: 100%;
}

.bg {
  width: 100%;
  /* display: block; */
}


.bg-circle {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 100px;
  right: 625px;
  left:  570px;
  background: none;
}
.bg-logo{
      position: absolute;
  height: 200px;
  width: 150px;
  top: 150px;
  padding: 30;
  right: 675px;
  left:  645px;
  background: none;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    gap: 8;
}
.banner-details{
    margin-bottom: 24px;
}
/* .banner-image{
    width: 100%;
} */
.about{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    
}
.about h1{
    gap: 20;
}
.about p{
    font-size: 16px;
    line-height: 2;
    font-weight: 200;
}
/* some facts related styles */
.rating-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.rating-card{
    
    width: 240px;
    height: 240px;
   
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rating-number{
    font-size: 2.8rem;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #00FF88;
}

.rating-name{
    font-size: 1.25rem;
    font-weight: 200;
    margin-top: 10px;
    color: #FFFFFF;
}

.fact-description{
    max-width: 540px;
}
.grid-section{
    margin: 120px 200px;
       padding: 40px;
     gap: 16;
     border-radius: 40px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    background-color: #230E3D;
}
.grid-container{
     background-color: #35116566;
  
}
#audio{
    grid-area: audio;
}
#mobile{
    grid-area: mobile;

}
#global{
    grid-area: global;
}
#exclusive{
    grid-area: exclusive;

}
#rich{
    grid-area: rich;
}
 .grid-container {
     display: grid;
     gap: 20px;
     grid-template-areas:
         "audio      mobile      mobile"
         "audio      global      global"
         "exclusive  exclusive   rich "
 }